node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json
package.json



*.png
*.jpg
*.jpeg
*.gif
*.svg
*.webp
*.mp4



sessions/
uploads/
target_images/
screenshots/
.DS_Store
